<h3 class="discovery__heading theme-2">STEM Certification</h3>
<h4 class="discovery__subheading">Getting started</h4>
<p class="discovery__text">
    See the schools in your neighborhood that have
    achieved STEM certification. Read the handbook for
    information on putting your school on the map.
    Check out spotlighted schools below.
</p>
<div class="invite theme-2">
    <i class="invite__icon fa fa-book"></i>
    <a class="btn" href="https://gatech.brightspace.com/incubator.asp​">
        Certification handbook
    </a>
    <p class="invite__text">
        Learn about STEM certification
    </p>
</div>
<div id="admins-certifications-map" class="theme-2 map"></div>
<h4 class="discovery__subheading">Spotlights</h4>
<ul id="admins-spotlights" class="spotlight"></ul>
<a class="btn" href="https://stemincubator.oaeproject.org/group/si/4yv0msV-/members">
    Show more spotlights
</a>

