<h3 class="discovery__heading theme-2">Supporting administrators</h3>
<h4 class="discovery__subheading">Getting started</h4>
<p class="discovery__text">
    Start by joining our network to put your school on
    the STEM map. Find professional learning opportunities
    to earn certifications for your school and yourself.
    Explore case studies on partnerships between schools
    and other organizations such as local businesses.
</p>
<div class="theme-2">
    <div class="invite">
        <i class="invite__icon fa fa-comments-o"></i>
        <a class="invite__button">
            Join the network
        </a>
        <p class="invite__text">
            Put your school on the STEM map
        </p>
    </div>
    <div class="invite">
        <i class="invite__icon fa fa-certificate"></i>
        <a class="invite__button">
            Get certified
        </a>
        <p class="invite__text">
            Find professional learning opportunities
        </p>
    </div>
    <div class="invite">
        <i class="invite__icon fa fa-group"></i>
        <a class="invite__button">
            Case studies
        </a>
        <p class="invite__text">
            Partner with businesses and other organizations
        </p>
    </div>
</div>

