<h3 class="featured__details__heading">Successful Projects in Georgia</h3>
<div class="featured__details__listing"></div>
<p>
    <a class="button button--large button--link"
       href="http://www.donorschoose.org/donors/search.html?max=10&state=GA&subject4=-4&historical=true">
        Show me more
    </a>
<p>
