<h3 class="featured__details__heading">Selected Content</h3>
<div class="featured__details__listing">
    <p class="featured__details__placeholder">
        No content matches your selection.
    </p>
</div>
<p class="featured__details__action">
    <a class="button button--large button--link"
       href="<% print(Stem.config.oae.protocol + '//' + Stem.config.oae.host + '/search/?types=content') %>"
       data-featured__details__more >
        Show me more
    </a>
<p>
