<h3 class="featured__details__heading">Selected Content</h3>
<div class="featured__details__listing"></div>
<p>
    <a class="button button--large button--link"
       href="<% print('https://' + Stem.config.oaeHost + '/search/?types=content' %>">
        Show me more
    </a>
<p>
