<h2 id="landing-page-heading" class="util--sr-only">
    Overview Section
</h2>

<nav role="navigation" id="discovery-nav" class="discovery-nav"
     data-discovery-nav="1">
    <input type="radio" name="discovery-nav" id="discovery-nav-teachers"
           class="discovery-nav__radio"
           checked="checked"/>
    <label for="discovery-nav-teachers"
           class="discovery-nav__label theme-1">
        <div class="discovery-nav__label__content">
            <span class="discovery-nav__label__text">
                Find practical resources from around Georgia
                <span class="discovery-nav__label__content--detailed">
                and explore professional learning opportunities</span>
            </span>
            <span class="discovery-nav__label__more">More</span>
        </div>
        <div class="discovery-nav__label__image"></div>
    </label>
    <input type="radio" name="discovery-nav" id="discovery-nav-admins"
           class="discovery-nav__radio"/>
    <label for="discovery-nav-admins"
           class="discovery-nav__label theme-2">
        <div class="discovery-nav__label__content">
            <span class="discovery-nav__label__text">
                Learn about STEM certification
                <span class="discovery-nav__label__content--detailed">
                and what it can do for your school</span>
            </span>
            <span class="discovery-nav__label__more">More</span>
        </div>
        <div class="discovery-nav__label__image"></div>
    </label>
    <input type="radio" name="discovery-nav" id="discovery-nav-partners"
           class="discovery-nav__radio"/>
    <label for="discovery-nav-partners"
           class="discovery-nav__label theme-3">
        <div class="discovery-nav__label__content">
            <span class="discovery-nav__label__text">
                Connect with others
                <span class="discovery-nav__label__content--detailed">
                advancing STEM education locally and throughout Georgia</span>
            </span>
            <span class="discovery-nav__label__more">More</span>
        </div>
        <div class="discovery-nav__label__image"></div>
    </label>
</nav>

<article id="teachers_js" class="discovery"></article>
<article id="admins_js" class="discovery"></article>
<article id="partners_js" class="discovery"></article>
