<img class="results-main__thumbnail" src="<% print(Stem.config.oae.protocol + '//' + Stem.config.oae.host + thumbnailUrl) %>" />
<a href="<% print(Stem.config.oae.protocol + '//' + Stem.config.oae.host + profilePath) %>"
   class="results-main__link">
    <%= displayName %>
</a>
