<a href="<% print(Stem.config.oae.protocol + '//' + Stem.config.oae.host + profilePath) %>"
   class="results-secondary__link">
    <div role="image" class="results-secondary__image"
         style="background-image: url(<% print(Stem.config.oae.protocol + '//' + Stem.config.oae.host + thumbnailUrl) %>);">
    </div>
    <h5 class="results-secondary__heading">
        <%= displayName %>
    </h5>
</a>
