<h4 class="results-secondary__heading"><%= heading %></h4>
<div class="results-secondary__extras">
    <button type="button" class="btn btn--outline">
        Show more
    </button>
</div>
<div class="results-secondary__more">
    <button type="button" class="btn">
        All results
    </button>
</div>


