<a href="<% print(Stem.Utils.oaeUrl(profilePath)) %>"
   class="results-secondary__link">
    <div role="image" class="results-secondary__image"
         style="background-image: url(<% print(Stem.Utils.oaeUrl(thumbnailUrl)) %>);">
    </div>
    <h5 class="results-secondary__heading">
        <%= displayName %>
    </h5>
</a>
