<img class="results-main__thumbnail"
     src="<% print(Stem.Utils.oaeUrl( thumbnailUrl)) %>" />
<a href="<% print(Stem.Utils.oaeUrl(profilePath)) %>"
   class="results-main__link">
    <%= displayName %>
</a>
