<img class="spotlight__item__thumbnail"
     src="<% print(Stem.Utils.oaeUrl(thumbnailUrl)) %>" />
<a href="<% print(Stem.Utils.oaeUrl(profilePath)) %>"
   class="spotlight__item__title">
    <%= displayName %>
</a>
<p class="spotlight__item__description">
    <%= description %>
</p>
