<h4 class="results-secondary__header"><%= heading %></h4>
<div class="results-secondary__more">
    <button type="button" class="button results-secondary__button">
        Show more
    </button>
</div>


