<label class="search__label util--sr-only"><%= label %></label>
<input placeholder="<%= placeholder %>" type="search"
       class="search__input"/><!--
--><a class="search__submit">
    Search
</a>
<input placeholder="<%= shortPlaceholder %>" type="search"
       class="search__input search__input--small"/><!--
--><a class="search__submit search__submit--small">
    <i class="search__submit__icon fa fa-search"></i>
</a>
