<label class="search__label util--sr-only"><%= label %></label>
<input placeholder="<%= placeholder %>" type="text"
       class="search__input"
       id="<% print(_.uniqueId('search_')) %>"
/><button type="submit" class="search__submit"></button>
