<label class="search__label util--sr-only"><%= label %></label>
<input placeholder="<%= placeholder %>" name="q" type="search"
       class="search__input"/><!--
--><button type="submit" class="search__submit">Search</button>
<input placeholder="<%= shortPlaceholder %>" type="search"
       class="search__input search__input--small"/><!--
--><button type="submit" class="search__submit search__submit--small">
    <i class="fa fa-search"></i>
</button>
