<form class="tagset tagset--inline">
    <fieldset class="tagset__fieldset tagset__fieldset--inline">
        <label class="tagset__label tagset__label--inline"><%= title %></label>
   </fieldset>
</form>

