<h3 class="discovery__heading theme-1">Supporting teachers</h3>
<form class="search theme-1" role="search"
      action="https://stemincubator.oaeproject.org/search/"
      id="teachers-discovery-search-form">
      <label class="search__label">Search for resources</label>
      <input placeholder="Search the Incubator" type="text"
             class="search__input"
     ><button type="submit" class="search__submit"></button>
</form>
<div class="theme-1">
    <div class="invite">
        <i class="invite__icon fa fa-certificate"></i>
        <a id="teachers-search-courses"
           class="btn"
           href="https://gatech.brightspace.com/incubator.asp">
            Find a course
        </a>
        <p class="invite__text">
            Professional Learning Opportunities: courses, workshops, and more
        </p>
    </div>
    <div class="invite">
        <i class="invite__icon fa fa-comments-o"></i>
        <a id="teachers-search-groups"
           class="btn"
           href="https://stemincubator.oaeproject.org/search/?types=user,group">
            Find people and groups
        </a>
        <p class="invite__text">
            Share resources, discuss, and collaborate
        </p>
    </div>
    <div class="invite">
        <i class="invite__icon fa fa-money"></i>
        <a class="btn"
           href="https://secure.donorschoose.org/wizard/addressWizard.html">
            Fund projects
        </a>
        <p class="invite__text">
            Get your class project funded through DonorsChoose.org
        </p>
    </div>
</div>

