/**
 * ## Footer
 */

.footer {
    .container;
    .row;
    background-color: @color-theme-0-dark;
    color:            @color-theme-0-light;
}

.footer__one-sixth-column,
.footer__one-third-column {
    padding: @block-spacing;
    @media @tablet { padding: @block-spacing-tablet; }
    @media @desktop { padding: @block-spacing-desktop; }
}

.footer__one-sixth-column {
    .one-sixth-column;
}

.footer__one-third-column {
    .one-third-column;
}

.footer__one-full-column {
    .one-full-column;
}

.footer__column-heading-link {
    color: inherit;
    text-decoration: none;
}

.no-touch .footer__column-heading-link:hover,
.footer__column-heading-link:focus {
    color: @color-theme-0-white;
}

.footer__column-heading,
.footer__topic {
    margin-bottom: 0.2em;
}

.footer__button {
    .button;
    background-color: @color-theme-0-light;
    color:            @color-theme-0-dark;
}

.no-touch .footer__button:hover,
.footer__button:focus {
    color: @color-theme-0-black;
}


.footer__button__icon {
    margin-right: 0.5em;
}

.footer__copyright {
    font-size: 80%;
    text-align: center;
}

.footer__copyright-link {
    color: inherit;
    text-decoration: none;
}


.no-touch .footer__copyright-link:hover,
.footer__copyright-link:focus {
    text-decoration: underline;
}
