/*
 * ## Mixins
 *
 * Generic utilities as LESS mixins.
 */

/*
 * ### Clickable:
 *
 * Consistent styling for text that's
 * clickable.
 */

 .clickable() {
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
 }

