/**
 * ## Spotlight
 *
 * A list of spotlight items.
 */

.spotlight {
    .clearfix;
    list-style: none;
    background-color: @color-theme-0-white;
    margin: 0 0 @block-spacing 0;
    @media @tablet { margin: 0 @block-spacing-tablet @block-spacing-tablet @block-spacing-tablet; }
    @media @desktop { margin: 0 calc(4 * @block-spacing-desktop) @block-spacing-desktop calc(4 * @block-spacing-desktop); }
    padding: 0;
    text-align: left;
}
.spotlight__item {
    background-color: @color-theme-0-lighter;
    border-bottom: 1px solid @color-theme-0-light;
    box-sizing: border-box;
    clear: both;
    height: 100px;
    min-height: 100px;
    overflow: hidden;
}
.spotlight__item.spotlight__item--expanded {
    height: auto;
}
.spotlight__item.spotlight__item--expanded,
.spotlight__item--expanded .spotlight__item__content {
    background-color: @color-theme-0-white;
    height: auto;
}
.spotlight__item__thumbnail {
    border: 1px solid @color-theme-0-light;
    box-sizing: border-box;
    float:left;
    height: 100px;
    width: 100px;
}
.spotlight__item__content {
    .clearfix;
    box-sizing: border-box;
    float: left;
    position: relative;
    width: ~"calc(100% - 100px)"
}
.spotlight__item__title {
    color: @color-theme-0-semidark;
    display: inline-block;
    font-size: 1.6rem;
    @media @tablet { font-size: 2.2rem; }
    line-height: 1.2;
    margin: @block-spacing calc(20px + @block-spacing) 0 0;
    @media @tablet { margin: 34px 0 0 0; }
    padding: 0 @block-spacing;
    @media @tablet { padding: 0 @block-spacing-tablet; }
    @media @desktop { padding: 0 @block-spacing-desktop; }
    text-decoration: none;
}
.no-touch .theme-3 .spotlight__item__title:hover,
.theme-3 .spotlight__item__title:focus {
    color: @color-theme-3-light-bg;
}
.spotlight__item--expanded .spotlight__item__title {
    color: @color-theme-0-dark;
}
.spotlight__item__expand {
    cursor: pointer;
    font-size: 20px;
    @media @tablet { font-size: 30px; }
    position: absolute;
    right: @block-spacing;
    @media @tablet { right: 34px; }
    top: @block-spacing;
    @media @tablet { top: 34px; }
}
.spotlight__item--expanded .spotlight__item__expand {
    display: none;
}
.spotlight__item__description {
    .invisible;
    margin: 0;
    padding: @block-spacing;
    @media @tablet { padding: @block-spacing-tablet; }
    @media @desktop { padding: @block-spacing-desktop; }
}
.spotlight__item--expanded .spotlight__item__description {
    .visible;
    margin: 0;
}

.theme-3 .spotlight__item__expand {
    color: @color-theme-3-primary-bg;
}
.no-touch .theme-3 .spotlight__item__expand:hover,
.theme-3 .spotlight__item__expand:focus {
    color: @color-theme-3-light-bg;
}
